#import <Foundation/Foundation.h>{{#useReactiveObjC}}
#import <ReactiveObjC/ReactiveObjC.h>{{/useReactiveObjC}}
{{#imports}}#import "{{import}}.h"
{{/imports}}
#import "{{classPrefix}}Api.h"

{{>licenceInfo}}


@interface {{classname}}:NSObject <{{classPrefix}}Api>

extern NSString *k{{classname}}ErrorDomain;
extern NSInteger k{{classname}}MissingParamErrorCode;

- (instancetype)initWithApiClient:({{classPrefix}}ApiClient *)apiClient NS_DESIGNATED_INITIALIZER; //parampapam

{{#operations}}
{{^useReactiveObjC}}
{{#operation}}
/// {{{summary}}}
/// {{#notes}}{{{notes}}}{{/notes}}
///
/// HTTP Method: {{{httpMethod}}}
/// {{#allParams}}
/// @param {{paramName}} {{description}}{{^required}} (optional) {{/required}}{{#defaultValue}} (default to {{{.}}}) {{/defaultValue}}{{/allParams}}{{#hasParams}}{{#isUploadProgressSupported}}
/// @param progressReceiver A receiver of the upload progress. Optional parameter.{{/isUploadProgressSupported}}{{/hasParams}}
/// {{#responses}}
///  code:{{{code}}} message:"{{{message}}}"{{#hasMore}},{{/hasMore}}{{/responses}}
///
/// @return {{{returnType}}}
- (NSURLSessionTask *) {{#vendorExtensions.x-objc-operationId}}{{vendorExtensions.x-objc-operationId}}{{/vendorExtensions.x-objc-operationId}}{{^vendorExtensions.x-objc-operationId}}{{nickname}}{{#hasParams}}With{{vendorExtensions.firstParamAltName}}{{/hasParams}}{{^hasParams}}WithCompletionHandler:{{/hasParams}}{{/vendorExtensions.x-objc-operationId}}{{#allParams}}{{#secondaryParam}}
    {{paramName}}{{/secondaryParam}}:({{{dataType}}}){{paramName}}{{/allParams}}{{#hasParams}}{{#isUploadProgressSupported}}
    uploadProgressReceiver:(void(^)(NSProgress *progress))progressReceiver{{/isUploadProgressSupported}}
    completionHandler:{{/hasParams}}(void (^)({{#returnBaseType}}{{{returnType}}} output, {{/returnBaseType}}NSError *error))handler;

{{newline}}
{{/operation}}
{{/useReactiveObjC}}
{{#useReactiveObjC}}
{{#operation}}
/// {{{summary}}}
/// {{#notes}}{{{notes}}}{{/notes}}
///
/// HTTP Method: {{{httpMethod}}}
/// {{#allParams}}
/// @param {{paramName}} {{description}}{{^description}}no description{{/description}}{{^required}} (optional) {{/required}}{{#defaultValue}} (default to {{{.}}}) {{/defaultValue}}{{/allParams}}{{#hasParams}}{{#isUploadProgressSupported}}
/// @param progressReceiver A receiver of the upload progress. Optional parameter.{{/isUploadProgressSupported}}{{/hasParams}}
/// {{#responses}}
///
///  code:{{{code}}} message:"{{{message}}}"{{#hasMore}},{{/hasMore}}{{/responses}}
///
/// @returns RACSignal {{#returnType}}<{{{returnType}}}>*{{/returnType}}
- (RACSignal {{#returnBaseType}}<{{{returnType}}}> {{/returnBaseType}} *){{#vendorExtensions.x-objc-operationId}}{{vendorExtensions.x-objc-operationId}}{{/vendorExtensions.x-objc-operationId}}{{^vendorExtensions.x-objc-operationId}}{{nickname}}{{#hasParams}}With{{vendorExtensions.firstParamAltName}}{{/hasParams}}{{/vendorExtensions.x-objc-operationId}}{{#allParams}}{{#secondaryParam}}
    {{paramName}}{{/secondaryParam}}:({{{dataType}}}){{paramName}}{{/allParams}}{{#hasParams}}{{#isUploadProgressSupported}}
    uploadProgressReceiver:(void(^)(NSProgress *progress))progressReceiver{{/isUploadProgressSupported}}{{/hasParams}};

{{newline}}
{{/operation}}
{{/useReactiveObjC}}
{{/operations}}

@end
